body {
    background-color: #dee0d6;
}

.no-rounded {
    border-radius: 0 !important;
}

.score-board {
    background-color: #F54C5B;
    border-radius: 0 !important;
    border: none;
}

.credit-logo {
    margin: 20px
}

.credit-container {
    padding: 20px 0px;
    text-align: center;
}